body{
    background-color: beige;
}
.Container{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    width: calc(100% - 1300px);
    height: 500px;
    margin-left: 650px;   
    margin-top: 100px;
    border-radius: 6px;
}
h1{
    margin-left: 14px;
}
.Datos{
    margin-top: 20px;
}
.I1{
    height: 20px;
    width: 340px;
    border-radius: 6px;
}
.B1{
    width: 340px;
    height: 35px;
    margin-left: 4px;
    border-radius: 6px;
    background-color: rgb(79, 161, 243);
    color: white;
}
.DATOSC{
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: calc(100% - 1300px);
    margin-left: 650px;
    margin-top: 100px;
}
.Copias{
    border-radius: 8px;
}